################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DynamicLogger/CopilotIndices/17.14.1368.60722
/obj
